```
# .NET
bin/
obj/
*.user
*.suo
.vs/

# Angular
node_modules/
dist/

# General
.DS_Store
*.log
**/.idea/
appsettings.json
appsettings.*.json
appsettings.Development.json
**/appsettings.json
**/appsettings.Development.json
**/appsettings.*.json